<footer class="footer">
    <div class="_container">
        <nav class="footer__menu">
            <ul class="footer__list">
                <li><a class="footer__link" href="">Catalog</a></li>
                <li><a class="footer__link" href="">Designers</a></li>
                <li><a class="footer__link" href="">Blog</a></li>
                <li><a class="footer__link" href="">Inspiration</a></li>
                <li><a class="footer__link" href="">About us</a></li>
                <li><a class="footer__link" href="">Contact</a></li>
            </ul>
        </nav>
        <div class="footer__copyright">
            © 2016 .furniture. All rights reserved
        </div>
    </div>
</footer>
