<header class="header">
    <div class="header__content _container">
        <div class="header__column">
            <div class="header__burger" data-toggle="bar-menu">
                <span></span>
            </div>
            <nav class="header__menu">
                <ul class="header__list _container">
                    <li><a href="" class="header__link">HOME</a></li>
                    <li><a href="" class="header__link">DELIVERY</a></li>
                    <li><a href="" class="header__link">ABOUT US</a></li>
                </ul>
            </nav>

        </div>
        <div class="header__column">
            <div class="site-name">
                .furniture
            </div>
        </div>
        <div class="header__column header__column_line">
            <div class="header__item">
                <a href="" class="search-icon">
                    <i class="fas fa-search"></i>
                </a>
            </div>
            <div class="header__item">
                <a href="tel:2025550199" class="header__phone">202 - 555 - 0199</a>
            </div>
        </div>
    </div>
</header>
