<div class="page">
    <nav class="page__menu page-menu">
        <div class="_container">
            <ul class="page-menu__list">
                <li>
                    <a class="page-menu__link" href="">
                        <div class="page-menu__image">
                            <img alt="" class="" src="assets/images/icon/bed.svg">
                        </div>
                        <span class="page-menu__name">sleeping beds</span>
                    </a>
                </li>
                <li>
                    <a class="page-menu__link" href="">
                        <div class="page-menu__image">
                            <img alt="" class="" src="assets/images/icon/lounge-chair.svg">
                        </div>
                        <span class="page-menu__name">lounge chairs</span>
                    </a>
                </li>
                <li>
                    <a class="page-menu__link" href="">
                        <div class="page-menu__image">
                            <img alt="" class="" src="assets/images/icon/chair.svg">
                        </div>
                        <span class="page-menu__name">chairs</span>
                    </a>
                </li>
                <li>
                    <a class="page-menu__link" href="">
                        <div class="page-menu__image">
                            <img alt="" class="" src="assets/images/icon/office-chair.svg">
                        </div>
                        <span class="page-menu__name">office chairs</span>
                    </a>
                </li>
                <li>
                    <a class="page-menu__link" href="">
                        <div class="page-menu__image">
                            <img alt="" class="" src="assets/images/icon/nightstand.svg">
                        </div>
                        <span class="page-menu__name">tables, nightstands</span>
                    </a>
                </li>
                <li>
                    <a class="page-menu__link" href="">
                        <div class="page-menu__image">
                            <img alt="" class="" src="assets/images/icon/kitchen.svg">
                        </div>
                        <span class="page-menu__name">kitchen furniture</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="page__content">
        <div class="__container">
            <div class="owl-carousel owl-theme main-slider" data-slider="main">
                <div class="main-slider__item" style="background-image: url('assets/images/slider/1-photo.jpg')">
                    <h1 class="main-slider__title">
                        Adrian Pearsall Lounge Chair and Ottoman for Craft Associates
                    </h1>
                    <span class="main-slider__designer">
                Ole Wanscher
                </span>
                    <h2 class="main-slider__price">
                        $6,000
                    </h2>
                </div>
                <div class="main-slider__item" style="background-image: url('assets/images/slider/1-photo.jpg')">
                    <h1 class="main-slider__title">
                        Adrian Pearsall Lounge Chair and Ottoman for Craft Associates
                    </h1>
                    <span class="main-slider__designer">
                Ole Wanscher
                </span>
                    <h2 class="main-slider__price">
                        $6,000
                    </h2>
                </div>
                <div class="main-slider__item" style="background-image: url('assets/images/slider/1-photo.jpg')">
                    <h1 class="main-slider__title">
                        Adrian Pearsall Lounge Chair and Ottoman for Craft Associates
                    </h1>
                    <span class="main-slider__designer">
                Ole Wanscher
                </span>
                    <h2 class="main-slider__price">
                        $6,000
                    </h2>
                </div>
                <div class="main-slider__item" style="background-image: url('assets/images/slider/1-photo.jpg')">
                    <h1 class="main-slider__title">
                        Adrian Pearsall Lounge Chair and Ottoman for Craft Associates
                    </h1>
                    <span class="main-slider__designer">
                Ole Wanscher
                </span>
                    <h2 class="main-slider__price">
                        $6,000
                    </h2>
                </div>
            </div>
        </div>

        <!--       Designers-->
        <div class="designers">
                <div class="designers__title">
                    <div class="designers__title_container">
                    <h2 class="designers__name">
                        Popular designers
                    </h2>
                    <div class="designers__all">
                        <a class="designers__link all-link" href="">
                            <span>All designers</span>
                            <img alt="" class="all-link__arrow" src="assets/images/icon/right-arrow.svg">
                        </a>
                    </div>
                </div>
                </div>

                <ul class="popular-designers__list designer">
                    <li class="designer__item">
                        <div class="container">
                            <div class="designer__column">
                                <div class="designer__photo">
                                    <img alt="" class="v" src="assets/images/designers/arne_jacobsen.jpg">
                                </div>
                                <div class="designer__description">
                                    <h3 class="designer__name">
                                        Arne Jacobsen
                                    </h3>
                                    <span class="designer__about">
                                One of the grandfathers of modern and the minimalist Danish style.
                            </span>
                                </div>
                            </div>
                            <div class="designer__column">
                                <div class="owl-carousel owl-theme designer-slider" data-slider="designer">
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-1.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-2.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-3.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-4.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-5.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="designer__item">
                        <div class="container">
                            <div class="designer__column">
                                <div class="designer__photo">
                                    <img alt="" class="v" src="assets/images/designers/poul_kjærholm.jpg">
                                </div>
                                <div class="designer__description">
                                    <h3 class="designer__name">
                                        Poul Kjærholm
                                    </h3>
                                    <span class="designer__about">
                                Arne Jacobsen is one of the grandfathers of modern Danish furniture and the minimalist Danish style.
                            </span>
                                </div>
                            </div>
                            <div class="designer__column">
                                <div class="owl-carousel owl-theme designer-slider" data-slider="designer">
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-3.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-2.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-1.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-5.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-4.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="designer__item">
                        <div class="container">
                            <div class="designer__column">
                                <div class="designer__photo">
                                    <img alt="" class="v" src="assets/images/designers/charles_eames_ray_eames.jpg">
                                </div>
                                <div class="designer__description">
                                    <h3 class="designer__name">
                                        Charles Eames & Ray Eames
                                    </h3>
                                    <span class="designer__about">
                                Arne Jacobsen is one of the grandfathers of modern Danish furniture and the minimalist Danish style.
                            </span>
                                </div>
                            </div>
                            <div class="designer__column">
                                <div class="owl-carousel owl-theme designer-slider" data-slider="designer">
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-5.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-1.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-4.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-3.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-5.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-2.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="designer__item">
                        <div class="container">
                            <div class="designer__column">
                                <div class="designer__photo">
                                    <img alt="" class="v" src="assets/images/designers/finn_junhl.png">
                                </div>
                                <div class="designer__description">
                                    <h3 class="designer__name">
                                        Finn juhl
                                    </h3>
                                    <span class="designer__about">
                            furniture Danish and the inimalist Danish style  The grandfathers of modern.
                            </span>
                                </div>
                            </div>
                            <div class="designer__column">
                                <div class="owl-carousel owl-theme designer-slider" data-slider="designer">
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-1.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-2.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-3.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-4.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-5.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="designer__item">
                        <div class="container">
                            <div class="designer__column">
                                <div class="designer__photo">
                                    <img alt="" class="v" src="assets/images/designers/per_weiss.jpg">
                                </div>
                                <div class="designer__description">
                                    <h3 class="designer__name">
                                        Per Weiss
                                    </h3>
                                    <span class="designer__about">
                              The grandfathers of modern Danish furniture and the m>inimalist Danish style.
                            </span>
                                </div>
                            </div>
                            <div class="designer__column">
                                <div class="owl-carousel owl-theme designer-slider" data-slider="designer">
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-1.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-2.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-3.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-4.jpg">
                                    </div>
                                    <div class="designer-slider__item">
                                        <img alt="" class="designer-slider__img"
                                             src="assets/images/designers/arne/arne_jacobsen-5.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <!--        Inspiration-->
                <div class="inspiration">
                    <div class="inspiration_container">
                        <div class="inspiration__title">
                            <div class="inspiration__title_container">
                                <h2 class="inspiration__name">
                                    Inspiration
                                </h2>
                            </div>
                        </div>
                        <div class="inspiration__image">
                            <div class="inspiration__circle inspiration__circle_d1" data-inspiration="1"></div>
                            <div class="inspiration__circle inspiration__circle_d2" data-inspiration="2"></div>
                            <div class="inspiration__circle inspiration__circle_d3" data-inspiration="3"></div>
                            <img class="product__items product__items_d1" data-inspiration-block="1"
                                 src="assets/images/inspiration/qwe11.png">
                            </img>
                            <img class="product__items product__items_d2" data-inspiration-block="2"
                                 src="assets/images/inspiration/qwe22.png">
                            <img class="product__items product__items_d3" data-inspiration-block="3"
                                 src="assets/images/inspiration/qwe33.png">
                            </img>
                            <img alt="" class="inspiration__full" src="assets/images/inspiration/alll.jpg"></img>
                        </div>
                    </div>
                </div>

                <!--        Blog-->
                <div class="blog">
                    <div class="blog_container">
                        <div class="blog__title">
                            <h2 class="blog__name">
                                Blog
                            </h2>
                            <div class="blog__all">
                                <a class="blog__link all-link" href="">
                                    <span>All posts</span>
                                    <img alt="" class="all-link__arrow" src="assets/images/icon/right-arrow.svg">
                                </a>
                            </div>
                        </div>
                        <ul class="blog__list block-item">
                            <li>
                                <a class="block-item__link" href="">
                                    <img alt="" class="block-item__image" src="assets/images/blog/pic-1.jpg"></img>
                                    <h4 class="block-item__title">
                                        Rock, Roll and Diesel with Moroso
                                    </h4>
                                    <div class="block-item__description">
                                        Combination of Moroco's traditional craftsmanship and Diesel's alternative edge,
                                        the Diesel with Moroso collection is every bit rock and roll.
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="block-item__link" href="">
                                    <img alt="" class="block-item__image" src="assets/images/blog/pic-2.jpg"></img>
                                    <h3 class="block-item__title">
                                        Rock, Roll and Diesel with Moroso
                                    </h3>
                                    <div class="block-item__description">
                                        Combination of Moroco's traditional craftsmanship and Diesel's alternative edge,
                                        the Diesel with Moroso collection is every bit rock and roll.
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="block-item__link" href="">
                                    <img alt="" class="block-item__image" src="assets/images/blog/pic-3.jpg"></img>
                                    <h3 class="block-item__title">
                                        Rock, Roll and Diesel with Moroso
                                    </h3>
                                    <div class="block-item__description">
                                        Combination of Moroco's traditional craftsmanship and Diesel's alternative edge,
                                        the Diesel with Moroso collection is every bit rock and roll.
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>